@import 'fonts';
@import 'vars';

html{
	box-sizing: border-box;
	
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
a{
	display: inline-block;
	text-decoration: none;
	
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $text;
	background-color: #fff;
}

.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

h2{
	font-size: 36px;
}
//----------------------------------Start Header---------------------------------------
.header {	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	z-index: 10;
	.info {
		color: $header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__logo {
			width: 150px;
			height: 150px;
			font-family: 'icomoon', sans-serif;
			position: relative;

			a{
				color: $header;
				width: 242px;
			    height: 150px;
			    font-size: 150px;
			}
			&-name{
				position: absolute;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 24px;
				width: 63px;
				height: 36px;
				top: 40px;
				left: 50px;
				text-align: center;
				//transform: translate(-50%,-50%);
			}
		}
		&__tel {
			font-size: 20px;
			a{
				color: $header;
				text-transform: uppercase;
				font-weight: 700;
				&:hover{
					text-decoration: underline;
				}
				
			}
			
		}
		&__menu {
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
			}
		}
		&__menu-item{
			display: inline-block;
			margin-right: 30px;
		}
		&__menu-link {
			color: $header;
			text-transform: uppercase;
			font-weight: 700;
			&:hover{
				text-decoration: underline;
			}
			
		}
	}
	
}
//----------------------------------End Header---------------------------------------
//----------------------------------Start Slider---------------------------------------

.slider{
	width: 100%;
	height: 100vh;
	&__item{
		width: 100%;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.item1{
		background-image: url('../images/slider/slider1.jpg');
	}
	.item2{
		background-image: url('../images/slider/slider2.jpg');
	}
	.item3{
		background-image: url('../images/slider/slider3.jpg');
	}
	.item4{
		background-image: url('../images/slider/slider4.jpg');
	}
	.item5{
		background-image: url('../images/slider/slider5.jpg');
	}
	.item6{
		background-image: url('../images/slider/slider6.jpg');
	}
	.item7{
		background-image: url('../images/slider/slider7.jpg');
	}
	 .slick-arrow{
		font-size: 0;
		border: none;
		position: absolute;
		top: 50%;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 20;
		background-color: transparent;
		outline: none;
	}
	.slick-prev{
		left: 20px;
		background-image: url('../images/svg/circle-left.svg');
	}
	.slick-next{
		right: 20px;
		background-image: url('../images/svg/circle-right.svg');
	}
}
//----------------------------------End Slider---------------------------------------
//----------------------------------Start About---------------------------------------

.about {
	margin: 100px 0;
	&__title {
		text-align: center;
		margin-bottom: 35px;
	}
	&__text {
	}
	&__advantages {
		
	}
	&__area {
	}
}
//----------------------------------End About---------------------------------------
//----------------------------------Start Services---------------------------------------

.services {
	background-image: url('../images/content/services-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	&__title {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}
	&__desc {
		margin-bottom: 100px;
		color: #fff;
		font-size: 20px;
		line-height: 30px;
		text-align: center;

	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		max-width: 325px;
		width: 100%;
		background-color: #fff;
		margin-bottom: 50px;
		padding-top: 20px;
	}
	&__item-icon {
		width: 100%;
		height: 70px;
		font-family: 'icomoon', sans-serif;
		font-size: 40px;
		display: flex;
		justify-content: center;
  		align-items: center;
	}
	&__item-name {
		font-size: 20px;
		text-align: center;
		font-weight: 700;
		//margin-bottom: 30px;
	}
	&__item-image {
		min-height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
//----------------------------------End Services---------------------------------------
//----------------------------------Start Automation---------------------------------------
.automation {
	margin: 100px 0;
	&__title {
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
	}
	&__desc {
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	&__text {
		line-height: 26px;
	}
}
//----------------------------------End Automation---------------------------------------
//----------------------------------Start Footer---------------------------------------
.footer {

	background-image: url('../images/content/footer-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	font-size: 20px;
	line-height: 28px;
	padding: 100px 0;
	.container-footer{
		max-width: 900px;
	}
	&__title {
		text-align: center;
	}
	&__desc {
		text-align: center;
		//font-weight: 700;
		margin-bottom: 100px;
	}
	&__contacts {
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin-bottom: 70px;
	}
	&__address {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon-map-marker{
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			background-color: #3949ab;
			border-radius: 50%; 
			margin-bottom: 35px;
		}
	}
	&__tel {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		a:hover{
			text-decoration: underline;
		}
		.icon-phone{
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			background-color: #3949ab;
			border-radius: 50%; 
			margin-bottom: 35px;
		}
		a{
			color: #fff;
		}
	}
	&__mail {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		a:hover{
			text-decoration: underline;
		}
		.icon-envelope-o{
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			background-color: #3949ab;
			border-radius: 50%; 
			margin-bottom: 35px;
		}
		a{
			color: #fff;
		}
	}
	&__form {
		width: 100%;
		.form__row{
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}
		input{
			width: 48%;
			display:inline-block;
			border: none;
			padding: 25px;
			background-color: #fff;
			border-radius: 8px;
			outline: none;
		}
		textarea{
			width: 100%;
			display: block;
			border: none;
			padding: 25px;
			background-color: #fff;
			border-radius: 8px;
			margin-bottom: 30px;
			height: 200px;
			outline: none;
		}
	}
	&__form-btn {
		padding: 25px 85px;
		background-color: #fff;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		outline: none;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__map{
		width: 100%;
		
	}
}
//----------------------------------End Footer---------------------------------------
